$text-color: #2B3E50 !default;

@import "bootstrap";

.breadcrumb,
.main-content,
.panel,
.well {
  background-color: #FFF;
  color: $body-bg;
}

.alert {
  color: white;
}

.breadcrumb {
  font-size: $font-size-small;
  padding-left: 0;
  margin-bottom: 0;
}

.page-header {
  margin-top: 21px;
}

.page-header h1 {
  margin: 0;
}

.admin-article-list.table > tbody > tr > td {
  vertical-align: middle;
  border-bottom: 2px solid $gray-lighter;
  border-top: 0;
  padding: 10px 0;
}

.admin-article-list.table > tbody > tr > td:first-child {
  padding-left: 5px;
}

.admin-article-list.table > tbody > tr > td:last-child {
  text-align: right;
  padding-right: 5px;
}

.sidebar {
  padding: 0;
  color: #FFF;
}

.sidebar .nav {
  width: 100%;
}

.sidebar .nav a:hover,
.sidebar .nav a.active {
  color: $gray-lighter;
}

.sidebar .nav a {
  color: $gray-muted;
}

.sidebar .nav a > i {
  margin-right: 5px;
}

.sidebar .nav  li {
  border-bottom: 1px solid $gray-light;
  margin: 0;
}

.sidebar .sub-nav {
  border-top: 1px solid $gray-light;
}

.sidebar .sub-nav a {
  padding-left: 38px;
}

.sidebar .sub-nav li:last-child {
  border-bottom: 0;
}

.topbar {
  font-size: $font-size-small;
  padding: 20px 0;
  border-bottom: 1px solid $gray-lighter;
}

.sidebar-header {
  border-bottom: 1px solid #fff;
}

.main-content {
  padding-bottom: 15px;
}

//.main-content .help-block {
//  color: $gray-muted;
//}

.form-inverse .form-control {
  border-color: $gray-lighter;
}

.form-inverse .form-control:focus {
  box-shadow: none;
  border: 1px solid $brand-primary;
}